extends layout
block contenthead
    script(src="/javascripts/variables.js")
block contentbody
    header
        div(id="divhead")
            h1 Sensores
            p GRUPO #2
            P Tiempo para que el cambie el trafico 
                span#minutos  
                |  : 
                span#segundos  
    section(id="sectioncenter")
        div
            table
                thead
                    tr
                        th(scope="col") Calle
                        th(scope="col") latitud
                        th(scope="col") Longitud
                        th(scope="col") Trafico
                    tr
                tbody(id="tbodycon")
    script(src="/javascripts/funciones.js")
    script(src="/javascripts/inicio.js")

            